@font-face { font-family: Avigea; src: url('Avigea.ttf'); } 
h1 {
   font-family: Avigea
}
@font-face { font-family: Poppins; src: url('Poppins-Light.otf'); } 
h1 {
   font-family: Poppins
}
@font-face { font-family: Poppins-Thicc; src: url('Poppins-Bold.otf'); } 
h1 {
   font-family: Poppins-Thicc
}
body {
background-image : url('PARKPIC.jpg');
background-repeat : no-repeat;
background-attachment: fixed;
background-size: cover;
margin: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
}
html {
scroll-behavior: smooth;
}
.topnav {
overflow: hidden;
background-color: rgba(0, 0, 0, 0.562);
z-index: 99999;
top : 0px;
width: 100%;
position: fixed;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 24px 26px;
text-decoration: none;
font-size: 24px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.texte {
background-color: rgba(0, 0, 0, 0.405);
color: white;
}
.topnav a.active {
background-color: #ddd;
color: black;
padding: 40px;
}
.square {
height: 9.2cm;
width: 20cm;
background-color: #0000004c;
shape-margin:20cm;
margin-left: 1.5cm;
padding-left: 0.5cm;
}
.padding
{
height: 528px;
width: 305px;
display: inline-block;
float: right;
padding-right: 5cm;
margin-top: -2cm;
}
.square1 {
height: 3cm;
width: 34cm;
background-color: #cbc3ff;
border-radius: 20px;
margin-left: 1.25cm;
padding-left: 0.5cm;
padding-bottom: 0.25cm;
}
.square2 {
height: 13.8cm;
width: 37cm;
background-color: #c6adff4c;
margin-left: 1cm;
margin-top: 0.5cm;
padding: 5px 5px 5px 5px;
border-radius: 20px;
}
.square3 {
height: 22cm;
width: cover;
background-color: #0d004f;
border-radius: 20px;
margin-top: 5cm;
}
.square4 {
height: 4cm;
width: cover;
background-color: #000000;
margin-top: -0.5cm;
}
#parkspot {
position: relative;
z-index: 2;
}
#about {
position: relative;
z-index: 1;
}